.navigationItem {
    position: relative;
}
.navigationItem::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #11999E;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;

}
.navigationItem:hover::before,
.active {
    transform: scaleY(1);
    width: 100%;
    
}

.link:link, 
.link:visited {
    z-index: 10;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    -webkit-text-decoration: none;
    text-decoration: none ;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem .8rem;
    position: relative;
}

.active {
    background-color: #11999E;
    transition: all .2s;
}
